/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

h1, h2, h3, h4, h5 {
        font-family: 'Open Sans';
        font-weight: 300;
}


p {
        font-family: 'Open Sans';
        font-weight: 400;

}

body {
        font-family: 'Open Sans';
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


